html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("../images/ravenna.png");
  background-repeat: repeat;
  background-size: 500px;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 60px;
}

h1 a {
  color: #ffffff;
}

h1 a:hover{
  border-bottom: 2px solid  #ffffff;
  outline-offset: 7px;
  color:  #ffffff;
}

#navbarCollapse {
  padding: 10px;
  text-align: center;
}


.main-content {
  background-color: #ffffff;
  border: solid 1px #dddddd;
  padding: 10px 20px;
}

.aside {
  background-color: #ffffff;
  border: solid 1px #dddddd;
}

.footer {
  background-color: #666666;
  border-top: 10px solid #4aaaa5;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 70px;
  line-height: 60px;
}

.card-header {
  background-color: #4aaaa5;
  color: #ffffff;
  font-family: 'Georgia', Times, "Times New Roman", serif;
}

h2, h3, h4 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, "Times New Roman", serif;
}

h3 {
  font-size: 22px;
}

.portfolio-img {
  position: relative;
}

.thumbnail {
  position: relative;
}

.banner {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
}

.banner p {
  background-color: #4aaaa5;
  color:#ffffff;
  padding: 5px;
}

.btn {
  background-color: #4aaaa5;
  color:#ffffff;
}
